* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
  
#logo2{
    display: none;
}

body {
    font-family: 'Oswald', sans-serif;
    font-size: 1.3rem;
    line-height: 1.3em;
    margin: 0;
    background: #1e1e1e;
    color: #AFAFAF;
}

header {
    color: #670F0F;
    padding: 1%;
    display: flex;
    justify-content: space-between;
    background-color: #000;
    align-items: center;
    position: fixed;
    width: 100%;
    z-index: 1000;
	top: 0;
    height: auto;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    font-size: 1.2rem;
    padding: 0 1rem;
    text-transform: uppercase;
    color: #670F0F;
    transition: all 0.4s linear;
    border-radius: 5px;
}

nav ul li a:hover {
    background: #200000;
}

a {
    text-decoration: none;
}

video {
    width: 100%;
    padding: 3% 5%;
}

.main {
    width: 100%;
    min-height: 100px;
    padding-top: 60px; 
    --s: 27px; 
    --c: #0000, #282828 0.5deg 119.5deg, #0000 120deg;
    --g1: conic-gradient(from 60deg at 56.25% calc(425% / 6), var(--c));
    --g2: conic-gradient(from 180deg at 43.75% calc(425% / 6), var(--c));
    --g3: conic-gradient(from -60deg at 50% calc(175% / 12), var(--c));
    background: var(--g1), var(--g1) var(--s) calc(1.73 * var(--s)), var(--g2),
      var(--g2) var(--s) calc(1.73 * var(--s)), var(--g3) var(--s) 0,
      var(--g3) 0 calc(1.73 * var(--s)) #1e1e1e;
    background-size: calc(2 * var(--s)) calc(3.46 * var(--s));
}

.principal {
    width: 80%;
    max-width: 1300px;
    margin: auto auto;
    padding: 2%;
    background-color: #131313;
    border-radius: 10px;
}

.principal h1 {
    font-size: 2.5rem;
    line-height: 1.3;
    color: #8d0606;
    margin-bottom: 1rem;
}

.principal p {
    color: #AFAFAF;      
    margin-bottom: 1.6em;
    font-size: 1rem;
}

#episodios{
    align-items: center;
    display: flex;
}

#episodios img{
    border-radius: 4px;
    overflow: hidden;
}

#episodios div{
    flex: 70%;
}

#episodios h3{
    padding: 0 .5em .8em;
}

#episodios p{
    padding: 0 .5em 1em;
}

.parrafos {
    padding: 1rem;
    background-color: #282828;
    color: #AFAFAF;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
    margin-bottom: 1.6em;
    border-radius: 10px;
}

.parrafos h2 {
    font-size: 1.5rem;
    color: #8d0707;
    margin-bottom: 0.5rem;
}

.parrafos p {
    color: #AFAFAF;
    margin-bottom: 1rem;
    font-size: 1.5rem;
}

.personajes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 1rem;
    background-color: #282828;
    margin-bottom: 1.6em;
    border-radius: 10px;
}

.card {
    background-color: #1e1e1e;
    border-radius: 10px;
    overflow: hidden;
    width: 550px;
    height: 550px;
    text-align:left;
    transition: transform 0.3s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card:hover {
    transform: translateY(-10px);
}

.card-img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.card-content {
    padding: 1rem;
    color: #AFAFAF;
}

.card-content h2 {
    font-size: 1.5rem;
    color: #fff;
    margin-bottom: 0.5rem;
}

.card-content p {
    font-size: 1rem;
    color: #AFAFAF;
}

.banner-netflix {
    position: relative;
    width: auto;
    height: 600px;
}

.imagen1 {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
	width: 100%;
    height: 100%;
    
}

.imagen2 {
    position: absolute;
    top: 3%;
    left: 2%;
    z-index: 2;
	width: 85px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    background-color: #000;
    border-radius: 5px;
    color: #670F0F;
    margin-top: 0%;
}

footer img {
    max-width: 2.5rem;
    width: 100%;
    height: auto;
    margin-right: .5rem;
}

.icon{
	display: none;
	padding:8px 12px;
	margin:50px 0 0;
	border:2px solid #670F0F;
	background:0;color:#670F0F;
	cursor:pointer;
	transition:all .3s;
	position: absolute;
	top: -2.4rem;
	right: 2rem;
}

.icon:hover{
	background:#282828;
	color:#670F0F;
}

input{
	background-color: #cecece; 
	width: 275px; 
	height: 35px; 
	border-radius: 5px;  
	border-style: solid; 
	border-width: 1px; 
	border-color: #200000; 
	margin-top: 10px;  
	padding-left: 10px;
    margin-bottom: 20px; 
    
}

textarea{
    font-family: 'Oswald', sans-serif;
    background-color: #cecece; 
	width: 440px; 
	height: 150px; 
	border-radius: 5px;  
	border-style: solid; 
	border-width: 1px; 
	border-color: #200000; 
	margin-top: 10px;  
	padding-left: 10px;
    margin-bottom: 40px; 
    padding-top: 15px; 
}

label{
    display: block; 
	float: center; 	
}

button{
	height: auto; 
    padding-top: 10px;
	padding-left: 5px;
	padding-right: 5px; 
	margin-bottom: 30px; 
	margin-top: 10px;
    margin-left: 5%; 	
	text-transform: uppercase;
	background-color: #131313; 
	border-color: #200000; 
	border-style:solid; 
	border-radius: 10px;	
	width: 90%;   
    cursor: pointer;
}

span{
	color: #ff0000; 
}

.aviso{
	font-size: 13px;  
	color: #000000;  
}

#contact_form h3{
	padding-bottom: 30px;
	color: #000000;   
}

#contact_form p{
	font-size: 20px; 
	color: #000000; 
}

aside{
    float: right;
    width: 50%;
    margin-top: 60px;
    margin-left: 0%;
}

aside img{
    border-radius: 40%;
    width: 80%;
}

.galeria{
    background-image: url(../images/hexagon-textured.jpg);
    backdrop-filter: revert;
    background-size:contain;
    border-radius: 4px;
}

.galeria img{
    clip-path: polygon(50% 0%, 95% 25%, 95% 75%, 50% 100%, 5% 75%, 5% 25%);
    background:linear-gradient(grey,lightgrey);
    max-height:280px;
    max-width:280px;
    margin-top: 10px;
    margin-left: 5px;
}

select{
    background:#282828;
    border: none;
    color: #AFAFAF;
    cursor: pointer;
    font-size: 20px;
    font-weight: 400;
    line-height: 27px;
    outline-offset: 3px;
    padding: 7px 30px 7px 0;
}

/* Media Queries */
@media (max-width: 768px) {
    #logo1{
        display: none;
    }

    #logo2{
        display:block;
    }

    header {
        flex-direction: column;
        align-items: flex-start;
        padding: 1rem;
        padding: 1%;
        display: flex;
    }

	header div, header a {
		flex: 1 0 50%;
	}
	header nav {
		flex-basis: 100%;
	}
	nav ul {
		display: none;
	}
	.icon {
		display: block;
		padding-right: 0.6rem;
		text-align: right;
	}
	nav.responsive ul {
		display: block;
	}
	nav.responsive ul li {
		display: inline;
		text-align: center;
		padding: 0.5rem;
        
	}
	nav.responsive ul li a {
		padding-right: 0;
        font-size: 75%;
	}	
    .principal {
        
        width: 90%;
    }

    .parrafos {
        padding: 0.5rem;
    }

    .banner-netflix {
        flex-direction: column;
    }

    .banner-netflix .imagen2 {
        max-width: 100px;
    }

	video{
		padding: auto;
        
	}

    aside {
        width: 100%;
        margin-top: 10px;
        padding-left: 15%;

        
    }

    input, textarea {
        width: 90%;
    }

    button {
        width: 90%;
        margin-left: 5%;
    }

    .galeria img{
        max-height:250px;
        max-width:250px;
    }
    
    #episodios div{
        flex: 80%;
    }
    
    #episodios h3{
       font-size: 75%;
    }
    
    #episodios p{
        font-size: 75%;
    }

}

@media (max-width: 480px) {
    header {
        flex-direction: column;
        align-items: flex-start;
    }

	.icon {
		display: block;
	}

    nav ul {
        display: none;
    }

    nav.responsive ul li a {
		padding-right: 0;
        font-size: 50%;
	}	

    .principal {
        width: 100%;
    }

    .parrafos {
        padding: 0.5rem;
    }

    .banner-netflix {
        display: none;

    }

    .banner-netflix .imagen2 {
        max-width: 80px;
    }

    .card {
        width: 100%;
    }

    .card-img {
        height: auto;
    }

	video{
		padding: auto;
	}

    aside {
        display: none;
    }

    input, textarea {
        width: 90%;
    }

    button {
        width: 90%;
        margin-left: 5%;
    }

    .galeria img{
        height:180px;
        max-width:180px;
    }

    #episodios{
        align-items: center;
        display: block;
    }

    #episodios img{
        max-width: 150px;
    }
    
    #episodios h3{
       font-size: 55%;
    }
    
    #episodios p{
        font-size: 55%;
    }

}